:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-open-sans);
}

a{
    text-decoration: none;
}

.container{
    width: 1352px;
    margin: 0 auto;
}

header{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 519px;
}

.navigation{
    height: 70px;
    width: 100%;
    box-shadow: 0px 2px 5px var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 136px;
}

.navigation--logo{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-primary)
}

.menu--item {
    display: inline-block;
    /*margin-left: 95px;*/
    text-transform: uppercase;
    font-size: calc(1rem - 5px);
    color: var(--color-light-grey);
    letter-spacing: 2px;
}

.menu--item--link {
    margin-left: 50px;
    display: flex;
    height: 70px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-white);
}

.menu--item--link:hover{
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
}