:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    /*margin-top: 150px;*/
    font-family: var(--font-open-sans);
}

a{
    text-decoration: none;
}

.container{
    width: 1352px;
    margin: 0 auto;
}

header{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 850px;
}

.navigation{
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 136px;
}

.navigation--logo{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-primary)
}

.menu--item {
    display: inline-block;
    text-transform: uppercase;
    font-size: calc(1rem - 5px);
    letter-spacing: 2px;
}

.menu--item--link {
    margin-left: 50px;
    display: flex;
    height: 70px;
    width: 90px;
    justify-content: center;
    align-items: center;
    color: var(--color-grey);
    font-weight: bold;
    border-bottom: 2px solid var(--color-white);
}

.menu--item--link:hover {
    color: var(--color-black);
    border-bottom: 2px solid var(--color-primary);
}

.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.main--title{
    margin-top: 100px;
    font-size: calc(3rem + 1px);
    text-align: center;
}

.main--page{
    margin-top: 30px;
    text-align: center;
}

.main--link{
    display: block;
    padding: 28px 180px;
    border-radius: 40px;
    margin: 40px auto;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-primary);
}
.platforms{
    height: 500px;
    width: 100%;
}