:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    /*margin-top: 150px;*/
    font-family: var(--font-open-sans);
    position: relative;
}

a{
    text-decoration: none;
}

.container{
    width: 1352px;
    margin: 0 auto;
}

/* Navigation */
.navigation{
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 136px;
    z-index: 10;
}

.navigation--logo{
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-primary)
}

.navigation--logo--link{
    color: var(--color-primary);
}

.navigation--menu--item {
    display: inline-block;
    text-transform: uppercase;
    font-size: calc(1rem - 2px);
    letter-spacing: 2px;
}

.navigation--menu--item--link {
    margin-left: 50px;
    display: flex;
    height: 70px;
    width: 90px;
    justify-content: center;
    align-items: center;
    color: var(--color-grey);
    font-weight: bold;
    border-bottom: 4px solid var(--color-white);
}

.navigation--menu--item--link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/* Header */
header{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 850px;
}

.header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.header--title{
    margin-top: 100px;
    font-size: calc(3rem + 1px);
    text-align: center;
}

.header--page{
    margin-top: 30px;
    text-align: center;
}

.header--link{
    display: block;
    padding: 28px 180px;
    border-radius: 40px;
    margin: 40px auto;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-primary);
}

/* Platforms*/
.platforms{
    height: 500px;
    width: 100%;
}

.platforms--title{
    margin-top: 100px;
    font-size: calc(2rem + 2px);
    text-align: center;
}

.platforms--icons{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.platforms--icons--item{
    width: 116px;
    height: 140px;
    text-align: center;
}

.platforms--icons--item span{
    display: inline-block;
    margin-bottom: 10px;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.platforms--icons--item:nth-child(1){
    margin-left: 200px;
}

.platforms--icons--item:nth-child(3){
    margin-right: 200px;
}

.platforms--icons--item:nth-child(1) span{
    background-color: var(--color-redish);
}

.platforms--icons--item:nth-child(2) span{
    background-color: var(--color-primary);
}

.platforms--icons--item:nth-child(3) span{
    background-color: var(--color-green);
}

.platforms--icons--item:nth-child(1) span::after{
    content: "";
    display: block;
    background: url("../assets/Person.svg")  +30px center no-repeat;
    width: 150%;
    height: 100%;
    margin-right: 20px;
}

.platforms--icons--item:nth-child(2) span::after{
    content: "";
    display: block;
    background: url("../assets/Eye.svg")  +30px center no-repeat;
    width: 150%;
    height: 100%;
    margin-right: 20px;
}

.platforms--icons--item:nth-child(3) span::after{
    content: "";
    display: block;
    background: url("../assets/Catalog.svg") +30px center no-repeat;
    width: 150%;
    height: 100%;
    margin-right: 20px;
}

.platforms--icons--item--number{
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: calc(1.5rem - 2px);
    letter-spacing: 5px;
}

.platforms--icons--item--text{
    color: var(--color-grey);
    font-size: calc(1rem);
    margin-top: 10px;
}

/* Boxes */
.boxes{
    width: 100%;
    height: 1350px;
    background-color: var(--color-light-grey)
}

.boxes--page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes--page--items{
    margin-top: 40px;
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.boxes--page--items:nth-child(1){
    margin-top: 80px;
}

.boxes--page-items--description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 460px;
}

.boxes--page--items--title{
    width: 290px;
    font-family: var(--font-raleway);
    font-size: calc(2rem - 2px);
    margin-left: 20px;
}

.boxes--page--items--text{
    font-family: var(--font-open-sans);
    font-size: calc(1rem);
    line-height: 1.2;
    margin: 20px;
}

.boxes--page .boxes--page--items:nth-child(1) .boxes--page--items--img{
    height: 180px;
    width: 180px;
    margin-right: 150px;
    background-color: var(--color-redish);
    border-radius: 30px;
    transform: rotate(45deg);
    position: relative;
}

.boxes--page .boxes--page--items:nth-child(1) .boxes--page--items--img img{
    position: absolute;
    top: 90px;
    right: -50px;
    transform: rotate(-45deg);
    height: 219px;
}

.boxes--page .boxes--page--items:nth-child(2) .boxes--page--items--img{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    margin-left: 30px;
    background-color: var(--color-primary);
    position: relative;
}

.boxes--page .boxes--page--items:nth-child(2) .boxes--page--items--img img{
    width: 410px;
    position: absolute;
    top: 20px;
    right: -100px;
}

.boxes--page .boxes--page--items:nth-child(3){
    background-color: var(--color-light-grey);
}

.boxes--page .boxes--page--items:nth-child(3) .boxes--page-items--description{
    width: 45%;
    height: 100%;
    background-color: var(--color-white);
}

.boxes--page .boxes--page--items:nth-child(3) .boxes--page--items--img{
    height: 370px;
    width: 500px;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes--page .boxes--page--items:nth-child(3) .boxes--page--items--img img{
    margin-top: 40px;
    width: 70%;
}

.boxes--page--items-lines{
    display: flex;
    margin: 10px 20px;
    border: 0;
}

.boxes--page .boxes--page--items:nth-child(1) hr{
    background-color: var(--color-redish);
    border: 0;
    width: 300px;
    height: 4px;
}

.boxes--page .boxes--page--items:nth-child(2) hr{
    background-color: var(--color-primary);
    border: 0;
    width: 300px;
    height: 4px;
}

.boxes--page .boxes--page--items:nth-child(3) hr{
    background-color: var(--color-green);
    border: 0;
    width: 300px;
    height: 4px;
}

/* Pricing */
.pricing{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.pricing--title{
    margin-top: 50px;
    font-size: calc(2rem + 2px);
    text-align: center;
}

.pricing--boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pricing--boxes-item span{
    margin-top: 20px;
    display: inline-block;
    font-size: calc(1rem - 4px);
    font-weight: bold;
}

.pricing--boxes-item{
    margin-top: 50px;
    width: 372px;
    height: 461px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.pricing--boxes-item--title{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.pricing--boxes-item--payment{
    margin-top: 30px;
    font-family: var(--font-open-sans);
    font-weight: lighter;
    font-size: calc(3rem - 2px);
}

.pricing--boxes-item--payment--options{
    margin-top: 60px;
    font-size: 14px;
    font-family: var(--font-open-sans);
}

.pricing--boxes .pricing--boxes-item:nth-child(1) .pricing--boxes-item--payment{
    color: var(--color-redish);
}

.pricing--boxes .pricing--boxes-item:nth-child(2) .pricing--boxes-item--payment{
    color: var(--color-primary);
}

.pricing--boxes .pricing--boxes-item:nth-child(3) .pricing--boxes-item--payment{
    color: var(--color-green);
}

.pricing--boxes-item--payment--option{
    margin-top: 20px;
}

.pricing--boxes-item--payment--option img{
    margin-right: 5px;
}

.pricing--boxes-item--link{
    position: absolute;
    top: 430px;
    left: 110px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing--boxes .pricing--boxes-item:nth-child(1){
    border: 1px solid var(--color-redish);
}

.pricing--boxes .pricing--boxes-item:nth-child(2){
    border: 1px solid var(--color-primary);
}

.pricing--boxes .pricing--boxes-item:nth-child(3){
    border: 1px solid var(--color-green);
}

.pricing--boxes .pricing--boxes-item:nth-child(1) .pricing--boxes-item--link{
    background-color: var(--color-redish);
}

.pricing--boxes .pricing--boxes-item:nth-child(2) .pricing--boxes-item--link{
    background-color: var(--color-primary);
}

.pricing--boxes .pricing--boxes-item:nth-child(3) .pricing--boxes-item--link{
    background-color: var(--color-green);
}

/* Contact */
.contact{
    display: flex;
    justify-content: center;
    height: 350px;
    margin-bottom: 50px;
}

.contact--info{
    width: 500px;
}

.contact-info-title{
    font-size: calc(3rem - 1px);
}

.contact--info-text{
    margin-top: 20px;
    font-family: var(--font-open-sans);
}

.contact--info-phone{
    margin-top: 30px;

}

.contact--info-phone a{
    font-family: var(--font-open-sans);
    color: var(--color-grey)
}

.contact--info-phone img:nth-child(3) {
    margin-left: 10px;
}

.contact--form{
    width: 440px;
}

.contact--form--label{
    display: block;
    font-family: var(--font-open-sans);
    font-size: calc(1rem - 5px);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary)
}

.contact--form--label--input{
    width: 440px;
    padding: 10px 0;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid var(--color-grey);
    font-size: 1rem
}

.contact--form--check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.contact--form--check--checkbox{
    appearance: none;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    cursor: pointer;
}

.contact--form--check--checkbox:checked::after{
    content: "";
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
}

.contact--form--check--text{
    font-weight: var(--font-open-sans);
    font-size: calc(1rem - 4px);
    color: var(--color-grey);
    width: 400px;
    height: 100px;
}

.contact--form--btn{
    display: flex;
    justify-content: flex-end;
}

.contact--form--btn--item{
    margin-top: 20px;
    width: 226px;
    height: 57px;
    border: 0;
    border-radius: 30px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-size: calc(1rem - 3px);
    font-weight: bold;
}

.section--footer{
    width: 100%;
    height: 80px;
    background-color: var(--color-light-grey);

}

.section--footer--logo{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--logo--title{
    font-size: calc(1.5rem);
    color: var(--color-primary);
}

.footer--logo--copyright{
    margin-top: 10px;
    font-family: var(--font-open-sans);
    font-size: calc(1rem - 5px);
}

.footer--media--img{
    margin-right: 10px;
}